.body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}


.btn {
  background-color: #ee626b;
  border-radius: 15px;
  padding: 5px 15px;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color: #f2858c;
}

.landing-page {
  background-color: #14111f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  color: #ffffff;
  border-radius: 0 0 50px 50px;
}

.landing-page-left-section {
  width: 500px;
}

.landing-page-search input {
  border-radius: 50px;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
}

.landing-page-search app-button {
  position: absolute;
  left: 200px;
  height: 30px;
}

.landing-page-image-container img {
  border-radius: 20px;
  width: 250px;
}

.textSlider{
  margin: 0px 130px 0px 130px;
}

