.product-image {
            max-height: 400px;
            object-fit: cover;
        }
        .thumbnail {
            width: 80px;
            height: 80px;
            object-fit: cover;
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s ease;
        }
        .thumbnail:hover, .thumbnail.active {
            opacity: 1;
        }
.btn {
  background-color: #a8729a;
  border-radius: 15px;
  padding: 5px 15px;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color:  #96748d;
}