<form [formGroup]="orderCreate" (ngSubmit)="sendData()" class="form-main">

  <!-- Shipping Address -->
  <div formGroupName="shippingAddress" class="mb-5  p-2">
    <label class="form-label">Shipping Address</label>
    <input type="text" placeholder="Street" formControlName="street" class="form-control mb-1" />
    <input type="text" placeholder="City" formControlName="city" class="form-control mb-1" />
    <input type="text" placeholder="State" formControlName="state" class="form-control mb-1" />
    <input type="text" placeholder="Postal Code" formControlName="postalCode" class="form-control mb-1" />
    <input type="text" placeholder="Country" formControlName="country" class="form-control mb-1" />
  </div>
<hr>
  <!-- Payment Method -->
  <div class="mb-3">
    <label for="paymentMethod" class="form-label">Payment Method</label>
    <select id="paymentMethod" formControlName="paymentMethod" class="form-select">
      <option value="COD">Cash on Delivery</option>
      <option value="Card">Card</option>
    </select>
  </div>

  <!-- Payment Status -->
  <div class="mb-3">
    <label for="paymentStatus" class="form-label">Payment Status</label>
    <select id="paymentStatus" formControlName="paymentStatus" class="form-select">
      <option value="pending">Pending</option>
      <option value="paid">Paid</option>
    </select>
  </div>

  <!-- Submit -->
  <button type="submit" class="btn " [disabled]="orderCreate.invalid">Update Order</button>

</form>
