<div class="header">
    <img class="logo" src="/images/logo.png" />
    <div class="header-links">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="product" routerLinkActive="active">product</a>
      <a routerLink="orderDetails" routerLinkActive="active">Orders</a>
      <a routerLink="about" routerLinkActive="active">About</a>


      <a routerLink="cart" routerLinkActive="active">
      <i class="bi bi-cart-check-fill"></i>
      </a>
    <!--  <button class="btn" routerLink="register" routerLinkActive="active">Sign in</button> -->
      <button class="btn" routerLink="login">SIGN IN</button>
    </div>
  </div>