.trending-container {
  padding: 25px 50px;
}

.trending-container span {
    color: #ee626b;
    text-transform: uppercase;
    font-size: 14px;
}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-header h1 {
    margin-top: 0;
}

.trending-cards {
    display: flex;
    gap: 10px;
}
.item-div{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
  background-color: #a8729a;
  border-radius: 20px;
  padding: 5px 15px;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color:  #96748d;
}